<div class="modal-overlay">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <button class="close-button" (click)="closeModal()">&times;</button>

        <h2>{{ title }}</h2>

        @if (purpose === 'delete') {

        <div>
            <p>You are about to delete the selected student.<br> This action cannot be reversed!</p>
            <div class="boxed-name">
                <h3>{{ studentData?.firstName }} {{ studentData?.lastName }}</h3>
            </div>
        </div>
        <div class="btn-container">
            <p>Please confirm action</p>
            <button class="" (click)="confirmAction()">Confirm</button>
        </div>

        }

        @if (purpose === 'new' || purpose === 'edit') {

        <form #studentForm="ngForm" (ngSubmit)="confirmAction()">
            <div>
                <div class="input-box">
                    <label for="firstName">First Name</label><br>
                    <input type="text" id="firstName" name="firstName" [(ngModel)]="studentData!.firstName" required />
                </div>
                <div class="input-box">
                    <label for="lastName">Last Name</label><br>
                    <input type="text" id="lastName" name="lastName" [(ngModel)]="studentData!.lastName" required />
                </div>
                <div class="input-box">
                    <label for="dateOfBirth">Date of Birth</label><br>
                    <input type="date" id="dateOfBirth" name="dateOfBirth"
                        [ngModel]="studentData!.dateOfBirth | date:'yyyy-MM-dd'"
                        (ngModelChange)="studentData!.dateOfBirth = $event" required />
                </div>
                <div class="input-box">
                    <label for="email">Email</label><br>
                    <input type="email" id="email" name="email" [(ngModel)]="studentData!.email" required email />
                </div>
            </div>
            <div class="btn-container">
                <button type="submit" [disabled]="!studentForm.valid">Save</button>
            </div>
        </form>

        }

    </div>
</div>