.grid-container {
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "content"
        "footer";
    grid-template-rows: auto 60px 1fr 30px;
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
}

.grid-container > div.header {
    grid-area: header;
    box-sizing: border-box;
    text-align: center;
    align-self: baseline;
    /* background-color: var(--darker); */
    background: linear-gradient(to bottom right, var(--light) 28%, var(--dark) 80%);
    color: var(--egg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 2px var(--dark);
}

.grid-container > div.nav {
    grid-area: nav;
    box-sizing: border-box;
    align-self: center;
}

.grid-container > div.content {
    grid-area: content;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
}

.grid-container > div.footer {
    grid-area: footer;
    box-sizing: border-box;
    text-align: center;
}