@if (!dataLoaded) {

<div>
    <span class="spinner"></span>
</div>

}
@else {

<div>
    <button class="button" (click)="showModal('new')">New</button>
    <button class="button" [disabled]="!selectedStudent" (click)="showModal('edit', selectedStudent)">Edit</button>
    <button class="button" [disabled]="!selectedStudent" (click)="showModal('delete', selectedStudent)">Delete</button>
    <button class="button" (click)="getAllStudents()">Refresh</button>
</div>
<div class="overflow">

    @if (isModalVisible){
        <app-modal 
        [title]="modalTitle"
        [purpose]="modalPurpose"
        [studentData]="selectedStudent"
        (close)="hideModal()"
        (actionConfirmed)="onActionConfirmed($event)" />
    }

    <table>
        <thead>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Date of Birth</th>
            <th>Email</th>
        </thead>
        <tbody>

            @for (student of studentList; track $index) {
            <tr [class.selected]="selectedStudentId === student.studentId" (click)="selectStudent(student)">
                <td>{{ student.studentId }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.dateOfBirth }}</td>
                <td>{{ student.email }}</td>
            </tr>
            }

        </tbody>
    </table>
</div>

}