table {
    border-collapse: collapse;
    font-weight: 200;
    font-size: medium;
    font-family: Helvetica, sans-serif;
    margin: 6px;
    width: auto;
}

table th {
    border-bottom: 2px solid var(--dark);
}

table th,
table td {
    padding: 6px 10px 6px 10px;
}

table td {
    font-weight: 400;
    /* font-family: sans-serif; */
}

table tr {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

table tr:nth-child(even) {
    background-color: rgb(231, 231, 231);
}

tbody tr:hover {
    background-color: rgb(212, 212, 212);
}

table tr.selected {
    background-color: var(--light);
}

.overflow {
    overflow: auto;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 30px;
}

.status-msg {
    padding-top: 10px;
    font-family: 'Segoe UI', sans-serif;
}

.spinner {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    align-self: center;
    border-top: 3px solid var(--darker);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    visibility: hidden
}